<!DOCTYPE html> <!-- Comentario de Html -->

<html lang="es"> <!-- lang = es atributo de idioma. -->

<head>
    <meta charset="UTF-8"> <!-- Codificacion de Caracteres. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <link rel = "stylesheet" href="/css/style.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
<div id="inicio">
    <h1> <img src = "images/logo-mercado-liebre.svg" alt= "Logo Mercado Libre" width="400">  </img> </h1>
    <p>Lugar para la barra de Busqueda </p>

    <i class="fas fa-hand-holding-usd"> Compra en cuotas y sin tarjeta de credito</i>

    <p> <ul
        ><li><a href="ofertas.html"> Ofertas </a> </li>
        <li><a href="#Tiendas Oficiales"> Tiendas Oficiales</a></li>
        <li><a href="https://www.google.com.ar" target = "blank"> Vender</a></li> 
        <li><a href="#Ayuda">Ayuda</a></li></ul> </p>
    
    <p> <ul>
        <li><a href="#Creatucuenta"> Crea Tu Cuenta <i class="far fa-id-card"></i>

        </a></li>
        <li><a href="#Ingresa"> Ingresa <i class="fas fa-sign-in-alt"></i>

        </a></li>
        <li><a href="#MisCompras"> Mis Compras <i class="fas fa-shopping-basket" style="color: black"></i>

        </a></li></ul> </p>
    </div>

 <img src="images/Banner.jpg" alt ="Banner de Ofertas" width="400">

<h2>Basado en tu ultima Visita</h2>

<img src = "images/img-cafetera-moulinex.jpg" alt ="Imagen de Cafetera" width="400">
<i class="fas fa-truck" style= "color:#39b54a;"></i>
<p class="precios"> $6.770 </p>
<p class="descuentos">   40% OFF</pl>
    <p class="descripciones">Cafetera Moulinex Dolce Gusto </p>
    <div class="separador"><p> <br> </p> </div>
 <img src = "images/laptop.jpg" alt ="Imagen de Laptop" width="400">
 <i class="fas fa-truck" style= "color:#39b54a;"></i>
 <p class="precios"> $150.970 </p>
   <p class="descuentos"> 10% OFF</p>
   <p class="descripciones">Macbook Pro 2019  </p>
   <div class="separador"><p> <br> </p> </div>
 <img src = "images/celu.jpg" alt ="Imagen de Celular" width="400">
 <i class="fas fa-truck" style= "color:#39b54a;"></i>
 <p class="precios"> $89.410 </p>
<p class="descuentos">   20% OFF</p>    
<p class="descripciones">Samsung Galaxy s10 </p>
<div class="separador"><p> <br> </p> </div>
 <img src = "images/tv.jpg" alt ="Imagen de TV" width="400">
 <i class="fas fa-truck" style= "color:#39b54a;"></i>
 <p class="precios"> $54.230 </p>
 <p class="descripciones">Televisor Samsung Smart TV </p>

 <h2>Ofertas</h2>
 <img src = "images/img-cafetera-moulinex.jpg" alt ="Imagen de Cafetera" width="400">
 <i class="fas fa-truck" style= "color:#39b54a;"></i>
 <p class="precios"> $6.770 </p>
 <p class="descuentos">   40% OFF</pl>
     <p class="descripciones">Cafetera Moulinex Dolce Gusto </p>
     <div class="separador"><p> <br> </p> </div>
  <img src = "images/laptop.jpg" alt ="Imagen de Laptop" width="400">
  <i class="fas fa-truck" style= "color:#39b54a;"></i>
  <p class="precios"> $150.970 </p>
    <p class="descuentos"> 10% OFF</p>
    <p class="descripciones">Macbook Pro 2019  </p>
    
    <div class="separador"><p> <br> </p> </div>
 
  <img src = "images/celu.jpg" alt ="Imagen de Celular" width="400">
  <i class="fas fa-truck" style= "color:#39b54a;"></i>
  <p class="precios"> $89.410 </p>
 <p class="descuentos">   20% OFF</p>    
 <p class="descripciones">Samsung Galaxy s10 </p>

 <i class="fas fa-credit-card" style= "color :#03264C;"></i>

<h3> Pagá con tarjeta o en efectivo  </h3>
<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
    pago. ¡Y siempre es seguro!</p>
    <i class="fas fa-gift" style="color:#03264C"></i>
<h3 > Envío gratis desde $ 1.999  </h3>
<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.</p>

    <i class="fas fa-user-shield" style= "color: #03264C"></i>

<h3> Seguridad, de principio a fin</h3>
 <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegido.</p>

<p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>

    


</body>
</html>