<!DOCTYPE html> <!-- Comentario de Html -->
<html lang="es"> <!-- lang = es atributo de idioma. -->
<head>
    <meta charset="UTF-8"> <!-- Codificacion de Caracteres. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
</head>
<body>

    <h1> <img src = "/images/logoml.png" alt= "Logo Mercado Libre" width="388">  </img> </h1>
    <p>Lugar para la barra de Busqueda </p>

    <p>Compra en cuotas y sin tarjeta de credito</p>

    <p> <ul
        ><li><a href="ofertas.html"> Ofertas </a> </li>
        <li><a href="#Tiendas Oficiales"> Tiendas Oficiales</a></li>
        <li><a href="https://www.google.com.ar" target = "blank"> Vender</a></li> 
        <li><a href="#Ayuda">Ayuda</a></li></ul> </p>
    
    <p> <ul>
        <li><a href="#Creatucuenta"> Crea Tu Cuenta </a></li>
        <li><a href="#Ingresa"> Ingresa </a></li>
        <li><a href="#MisCompras"> Mis Compras </a></li></ul> </p>
    

 <img src="images/Banner.txt" alt ="Banner de Ofertas" width="388">

<h2>Basado en tu ultima Visita</h2>

<img src = "images/img-cafetera-moulinex.jpg" alt ="Imagen de Cafetera" width="388">
<p> $6.770 <br>
    40% OFF<br>
    <h4>Cafetera Moulinex Dolce Gusto</h4><br> 
 </p>

 <img src = "images/laptop.txt" alt ="Imagen de TV" width="388">
<p> $150.970<br>
    10% OFF<br>
    <h4>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h4><br> 
 </p>

 <img src = "images/CELU.txt" alt ="Imagen de Celular" width="388">
<p> $89.410 <br>
    20% OFFF<br>    
    <h4>Samsung Galaxy s10</h4><br> 
 </p>

 <img src = "images/TV.txt" alt ="Imagen de TV" width="388">
 <p> $54.230 <br>
     <h4>Televisor Samsung Smart TV </h4><br> 
  </p>

<h2> Pagá con tarjeta o en efectivo  </h2>
<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
    pago. ¡Y siempre es seguro!</p>

<h2 > Envío gratis desde $ 1.999  </h2>
<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.</p>

<h2> Seguridad, de principio a fin</h2>
 <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegido.</p>

<p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>

    
    


</body>
</html>